@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');


.bannerProdutos {

    background-color: #111731;
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8%;
    padding-left: 5%;

}


    

.h2Produtos {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    color: #fff;
    margin: 0;
    font-size: 5.5rem; /* Tamanho de fonte base para h2Produtos */

}







@media (max-width: 1600px) {
    .bannerProdutos {
        padding-top: 5%;
        padding-bottom: 25%;
    }



    .h2Produtos {
        font-size: 3.5rem;
    }


}

@media (max-width: 768px) {
    .bannerProdutos {
        height: 50vh;
        padding-bottom: 40%;
        padding-top: 15%;
    }



    .h2Produtos {
        font-size: 3rem;
    }


}

@media (max-width: 480px) {
    .bannerProdutos {
        height: auto;
        padding-bottom: 50%;
    }



    .h2Produtos {
        font-size: 2.7rem;
    }

}
